@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    padding:0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body,html{
    background-color: rgb(243, 243, 243);
    min-height: 100vh;
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    background-color: #3B3B3B;
    color: white;
    font-weight: 700;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.233);
}
nav a{
    text-decoration: none;
    color: white;
}
#nav-logo{
    height: 2em;
}
#footer-logo{
    height: 2em;
    margin: 1rem 0;
}
header{
    background-image:url("./picture/head.jpg");
    background-size: cover;
    backdrop-filter: brightness(0.7);
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-direction: column;
}
#header-logo{
    width : 80vw;
}
.content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.white{
    height: 3rem;
}


/*card*/
.villa-gambar-container{
    width: 100%;
    height: 80%;
}
.villa-nama-alamat{
    padding: 0.5em 0.5em;
}
.villa-nama a{
    color: inherit;
    text-decoration: none;
}
.villa-fasilitas{
    padding: 0 0.5em;
}
.villa-gambar{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.villa-gambar-nama-alamat-fasilitas{
    height: 80%;
}
.villa{
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    height: 60vh;
    background-color: white;
    box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.329);
}

.villa-alamat{
    opacity: 50%;
}
.villa-alamat a{
    text-decoration: none;
    color: inherit;
}


.villa-detail{
    background-color: rgb(97, 180, 97);
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 0;
}
.villa-harga{
    margin-left: 0.3em;
    font-size: 18px;
}
.villa-etc{
    background-color: rgb(236, 236, 236);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.villa-fasilitas{
    list-style-position: inside;
}
footer{
    color: rgb(255, 255, 255);
    background-color: #3B3B3B;
    padding: 1em 1em;
    line-height: 1.4em;
}
footer a{
    text-decoration: none;
    color: white;
}
#flaticon{
    text-align: center;
    margin-top: 3em;
    font-size: 15px;
}
#copyright{
    text-align: center;
}
#whatsapp-hubungi{
    width: 2rem;
    filter: invert();
    position: relative;
    top: 0.15em;
}
.info-pemesanan{
    margin-top: 1em;
    display: flex;
    padding: 1em 0;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
}
#klik-whatsapp{
    margin: 1rem 0;
    width: 80%;
    border-radius: 8px;
    padding: 0.15em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    display: block;
    background-color: rgb(88, 136, 88);
}
#nomor{
    position: relative;
    bottom: 0.15em;
}
/*float-pack*/
.hamburger-list{
    background-color: #3B3B3B;
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    font-size: 1.5rem;
}
#hamburger{
    display: none;
    height: 100%;
    padding: 0 0.5rem;
}
#hamburger .hamburger-line{
    background-color: white;
    width: 2rem;
    margin: 0.5rem 0;
    height: 0.2rem;
}
.active{
    background-color: #585858;
}
#non-logo{
    padding: 0;
align-items: center;
display: flex;
}
#non-logo div{
}
#non-logo a{
    margin: 0 2em;
    font-size: 20px;
    vertical-align: middle;
}
.float{
    position: fixed;
    width: 100%;
    background-color: #3B3B3B;
    z-index: 4;
}
/* @media (min-width:601px){
    .villa{
        width: 60%;
    }
} */
@media (min-width:1000px){

    .villa{
        width: 25%;
    }
    body .content{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
/*hamburger*/
@media only screen and (max-width:600px){
    #non-logo{
        display: none;
    }
    #hamburger{
        display: block;
    }
    .showHam{
        display: block;
        width: 100vw;
    }
    .hamburger-list a{
        color: white;
    }
    body .flex{
        display: flex;
    }

}